* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app--div {
  width: 100%;
  background: rgb(171, 45, 230);
  padding-top: 2em;
}

.modal--wrapper {
  color: white;
  position: fixed;
  width: 100%;
  height: 9em;
  background: rgb(62, 157, 247);
  z-index: 999;
}
.modal--wrapper p {
  margin-top: 0.5em;
  font-size: 1.5em;
  text-align: center;
}
.modal--wrapper button {
  font-size: 1.5em;
  padding: 0.2em 0.7em;
  background: white;
  border: 1px solid white;
  display: block;
  margin: 0.5em auto;
  cursor: pointer;
}
.modal--wrapper button:hover {
  border: 2px solid white;
  background: black;
  color: white;
}

.house--div {
  text-align: center;
}

.house--div--h1 {
  font-size: 3em;
  padding-top: 1em;
  color: white;
}
.hamster--house {
  width: 50em;
  height: 40em;
  background: rgb(248, 248, 248);
  margin: 2em auto 0;
  display: flex;
  flex-flow: row wrap;
}
.house--block {
  width: 50%;
  height: 50%;
}
.house--food {
  border: 1px solid peru;
  position: relative;
  overflow: hidden;
}
.house--sleep {
  border: 1px solid peru;
  position: relative;
  overflow: hidden;
}
.house--reading {
  border: 1px solid peru;
  position: relative;
  overflow: hidden;
}
.house--play {
  border: 1px solid peru;
  position: relative;
  overflow: hidden;
}

.house--food--svg {
  width: 100%;
  height: 100%;
}
.house--food--mat {
  stroke: rgb(180, 149, 118);
  stroke-width: 0.1em;
  fill: rgb(180, 149, 118);
}
.house--food--hamster--body {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--food--hamster--left--eye {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: rgb(27, 27, 27);
}
.house--food--hamster--left--eye--dot {
  stroke: white;
  stroke-width: 0.1em;
  fill: white;
  animation: eyeLeftFood 5s infinite ease-in-out;
}
.house--food--hamster--right--eye {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: rgb(27, 27, 27);
}
.house--food--hamster--right--eye--dot {
  stroke: white;
  stroke-width: 0.1em;
  fill: white;
  animation: eyeRightFood 5s infinite ease-in-out;
}

@keyframes eyeLeftFood {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-0.1em, -0.2em);
  }
  40% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes eyeRightFood {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0.1em, -0.2em);
  }
  40% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.house--food--hamster--upper--nose {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--food--hamster--lower--nose {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
  animation: hamsterMouse 2.5s ease-in-out infinite;
}
.house--food--hamster--left--ear {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--food--hamster--right--ear {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--food--hamster--whisker {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: transparent;
}
.house--food--hamster--left--foot {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: rgb(238, 205, 95);
}
.house--food--hamster--right--foot {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: rgb(238, 205, 95);
}
.house--food--hamster--toe--nails {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: transparent;
}
.house--food--hamster--finger {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--food--hamster--cookie {
  stroke: rgb(119, 82, 51);
  stroke-width: 0.1em;
  fill: rgb(165, 115, 74);
}
.house--food--hamster--cookie--dot {
  stroke: rgb(119, 82, 51);
  stroke-width: 0.1em;
  fill: rgb(100, 67, 40);
}

@keyframes hamsterMouse {
  0% {
    transform: translateY(0em);
  }
  50% {
    transform: translateY(-0.15em);
  }
  100% {
    transform: translateY(0em);
  }
}
.house--food-hamster--glass {
  stroke: black;
  stroke-width: 0.1em;
  fill: transparent;
}
.house--food-hamster--glass--milk {
  stroke: black;
  stroke-width: 0.1em;
  fill: white;
}
.house--food--dialogue {
  position: absolute;
  width: 100%;
  height: 5em;
  margin-top: -20.1em;
  display: flex;
  flex-flow: row nowrap;
  font-family: "VT323", monospace;
}
.house--food--dialogue--pic {
  width: 20%;
  height: 100%;
  border: 1px solid blue;
}
.house--food--dialogue--p {
  width: 80%;
  height: 100%;
  border: 1px solid green;
  font-size: 1.5em;
  line-height: 2em;
}
.house--sleep--svg {
  width: 100%;
  height: 100%;
}
.house--sleep--mat {
  stroke: rgb(180, 149, 118);
  stroke-width: 0.1em;
  fill: rgb(180, 149, 118);
}
.house--sleep--hamster--body {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--sleep--hamster--left--eye {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: transparent;
}

.house--sleep--hamster--right--eye {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: transparent;
}

.house--sleep--hamster--upper--nose {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--sleep--hamster--lower--nose {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--sleep--hamster--left--ear {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--sleep--hamster--right--ear {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--sleep--hamster--whisker {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: transparent;
}
.house--sleep--hamster--left--foot {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: rgb(238, 205, 95);
}
.house--sleep--hamster--right--foot {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: rgb(238, 205, 95);
}
.house--sleep--hamster--toe--nails {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: transparent;
}
.house--sleep--hamster--finger {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--sleep--hamster--blanket {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: rgb(209, 175, 25);
}
.house--sleep--dialogue {
  position: absolute;
  width: 100%;
  height: 5em;
  margin-top: -20.1em;
  display: flex;
  flex-flow: row nowrap;
  font-family: "VT323", monospace;
}
.house--sleep--dialogue--pic {
  width: 20%;
  height: 100%;
  border: 1px solid blue;
}
.house--sleep--dialogue--p {
  width: 80%;
  height: 100%;
  border: 1px solid green;
  font-size: 1.5em;
  line-height: 2em;
}

.house--reading--svg {
  width: 100%;
  height: 100%;
}

.house--reading--mat {
  stroke: rgb(180, 149, 118);
  stroke-width: 0.1em;
  fill: rgb(180, 149, 118);
}
.house--reading--hamster--body {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--reading--hamster--left--eye {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: rgb(27, 27, 27);
}
.house--reading--hamster--left--eye--dot {
  stroke: white;
  stroke-width: 0.1em;
  fill: white;
  animation: eyesReading 3s infinite;
}
.house--reading--hamster--right--eye {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: rgb(27, 27, 27);
}
.house--reading--hamster--right--eye--dot {
  stroke: white;
  stroke-width: 0.1em;
  fill: white;
  animation: eyesReading 3s infinite;
}
.house--reading--hamster--upper--nose {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--reading--hamster--lower--nose {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--reading--hamster--left--ear {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--reading--hamster--right--ear {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--reading--hamster--whisker {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: transparent;
}
.house--reading--hamster--left--glasses {
  stroke: rgb(134, 132, 132);
  stroke-width: 0.1em;
  fill: rgba(173, 172, 172, 0.7);
}
.house--reading--hamster--right--glasses {
  stroke: rgb(134, 132, 132);
  stroke-width: 0.1em;
  fill: rgba(173, 172, 172, 0.7);
}
.house--reading--hamster--glasses--bridge {
  stroke: rgb(54, 37, 34);
  stroke-width: 0.1em;
  fill: rgba(182, 175, 175, 0.5);
}
.house--reading--hamster--left--foot {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: rgb(238, 205, 95);
}
.house--reading--hamster--right--foot {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: rgb(238, 205, 95);
}
.house--reading--hamster--toe--nails {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: transparent;
}
.house--reading--hamster--finger {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--reading--hamster--cookie {
  stroke: rgb(119, 82, 51);
  stroke-width: 0.1em;
  fill: rgb(165, 115, 74);
}
.house--reading--hamster--cookie--dot {
  stroke: rgb(119, 82, 51);
  stroke-width: 0.1em;
  fill: rgb(100, 67, 40);
}
.house--reading--hamster--book {
  stroke: rgb(119, 82, 51);
  stroke-width: 0.1em;
  fill: transparent;
}
.house--reading--hamster--left--letter {
  stroke: black;
  stroke-width: 0.1em;
  fill: transparent;
}
.house--reading--hamster--right--letter {
  stroke: black;
  stroke-width: 0.1em;
  fill: transparent;
}
.house--reading--hamster--books--left {
  stroke: black;
  stroke-width: 0.1em;
  fill: rgb(98, 189, 98);
}
.house--reading--hamster--books--left-middle {
  stroke: black;
  stroke-width: 0.1em;
  fill: rgb(196, 149, 21);
}
.house--reading--hamster--books--left-top {
  stroke: black;
  stroke-width: 0.1em;
  fill: rgb(207, 175, 175);
}
.house--reading--hamster--books--left-top--letter {
  stroke: rgb(173, 11, 11);
  stroke-width: 0.1em;
  fill: transparent;
}
.house--reading--dialogue {
  position: absolute;
  width: 100%;
  height: 5em;
  margin-top: -20.1em;
  display: flex;
  flex-flow: row nowrap;
  font-family: "VT323", monospace;
}
.house--reading--dialogue--pic {
  width: 20%;
  height: 100%;
  border: 1px solid blue;
}
.house--reading--dialogue--p {
  width: 80%;
  height: 100%;
  border: 1px solid green;
  font-size: 1.5em;
  line-height: 2em;
}

@keyframes eyesReading {
  0% {
    transform: translateX(0.1em);
  }
  50% {
    transform: translateX(-0.1em);
  }
  100% {
    transform: translateX(0.1em);
  }
}

.house--play--svg {
  width: 100%;
  height: 100%;
}

.house--play--mat {
  stroke: rgb(180, 149, 118);
  stroke-width: 0.1em;
  fill: rgb(180, 149, 118);
}
.house--play--hamster--body {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--play--hamster--left--eye {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: rgb(27, 27, 27);
}
.house--play--hamster--left--eye--dot {
  stroke: white;
  stroke-width: 0.1em;
  fill: white;
  animation: eyePlayLeft 7s ease-in-out infinite;
}
@keyframes eyePlayLeft {
  0% {
    transform: translateY(0em);
  }
  20% {
    transform: translateY(-0.3em);
  }
  40% {
    transform: translateY(0em);
  }
  100% {
    transform: translateY(0em);
  }
}
.house--play--hamster--right--eye {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: rgb(27, 27, 27);
}
.house--play--hamster--right--eye--dot {
  stroke: white;
  stroke-width: 0.1em;
  fill: white;
  animation: eyePlayRight 7s ease-in-out infinite;
}
@keyframes eyePlayRight {
  0% {
    transform: translateY(0em);
  }
  20% {
    transform: translateY(-0.3em);
  }
  40% {
    transform: translateY(0em);
  }
  100% {
    transform: translateY(0em);
  }
}

.house--play--hamster--upper--nose {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--play--hamster--lower--nose {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--play--hamster--left--ear {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--play--hamster--right--ear {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--play--hamster--whisker {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: transparent;
}
.house--play--hamster--left--foot {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: rgb(238, 205, 95);
}
.house--play--hamster--right--foot {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: rgb(238, 205, 95);
}
.house--play--hamster--toe--nails {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: transparent;
}
.house--play--hamster--finger {
  stroke: rgb(27, 27, 27);
  stroke-width: 0.1em;
  fill: white;
}
.house--play--hamster--cookie {
  stroke: rgb(119, 82, 51);
  stroke-width: 0.1em;
  fill: rgb(165, 115, 74);
}
.house--play--hamster--cookie--dot {
  stroke: rgb(119, 82, 51);
  stroke-width: 0.1em;
  fill: rgb(100, 67, 40);
}
.house--play--hamster--game {
  stroke: rgb(49, 49, 49);
  stroke-width: 0.1em;
  fill: rgb(192, 191, 191);
}
.house--play--hamster--game--logo {
  stroke: rgb(49, 49, 49);
  stroke-width: 0.1em;
  fill: rgb(192, 191, 191);
}
.house--play--dialogue {
  position: absolute;
  width: 100%;
  height: 5em;
  margin-top: -20.1em;
  display: flex;
  flex-flow: row nowrap;
  font-family: "VT323", monospace;
}
.house--play--dialogue--pic {
  width: 20%;
  height: 100%;
  border: 1px solid blue;
}
.house--play--dialogue--p {
  width: 80%;
  height: 100%;
  border: 1px solid green;
  font-size: 1.5em;
  line-height: 2em;
}

.hamster--control {
  width: 50em;
  height: 5em;
  margin: 0 auto;
  background-color: rgb(238, 215, 192);
}

.hamster--control--wrapper {
  width: 25em;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.hamster--control--eat {
  width: 5em;
  height: 4em;
  border: 2px solid rgb(58, 56, 56);
}
.hamster--control--reading {
  width: 5em;
  height: 4em;
  border: 2px solid rgb(58, 56, 56);
}
.hamster--control--playing {
  width: 5em;
  height: 4em;
  border: 2px solid rgb(58, 56, 56);
}
.hamster--control--sleep {
  width: 5em;
  height: 4em;
  border: 2px solid rgb(58, 56, 56);
}
.fas-noactive {
  font-size: 3em;
  margin-top: 0.1em;
  color: rgb(245, 141, 141);
}
.hamster--control--eat--active {
  width: 5em;
  height: 4em;
  border: 2px solid white;
  background: rgb(245, 141, 141);
}
.hamster--control--reading--active {
  width: 5em;
  height: 4em;
  border: 2px solid white;
  background: rgb(245, 141, 141);
}
.hamster--control--playing--active {
  width: 5em;
  height: 4em;
  border: 2px solid white;
  background: rgb(245, 141, 141);
}
.hamster--control--sleep--active {
  width: 5em;
  height: 4em;
  border: 2px solid white;
  background: rgb(245, 141, 141);
}
.fas-active {
  font-size: 3em;
  margin-top: 0.1em;
  color: white;
}

.display {
  visibility: hidden;
}
.display--show {
  opacity: 1;
  animation: display 1s ease-in forwards;
}

@keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*information section*/
.hamster--info {
  width: 50em;
  min-height: 3em;
  margin: 1em auto 0.1em;
  display: flex;
  flex-flow: row wrap;
}
.hamster--info--title {
  text-align: left;
  font-size: 1.8em;
  height: 1.5em;
  color: white;
  background: unset;
  border: 1px solid transparent;
}
.hamster--info--expand {
  width: 100%;
  color: white;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.3em;
}
.hamster--info--hide {
  visibility: hidden;
}
.hamster--info--title--wrapper {
  width: 100%;
  height: 2em;
  display: flex;
  flex-flow: row nowrap;
  background-color: rgb(250, 195, 140);
  border-radius: 0.2em;
  margin-top: 0.2em;
}

.hamster--info--status--title {
  width: 15%;
  height: 100%;
  font-size: 1.7em;
}
.hamster--info--status--update {
  width: 85%;
  height: 100%;
  font-size: 1em;
  text-align: left;
  line-height: 2.2em;
  color: red;
}
.hamster--info--title--like--emote {
  width: 7%;
  height: 100%;
  font-size: 1.7em;
}
.hamster--info--title--hunger--emote {
  width: 7%;
  height: 100%;

  font-size: 1.7em;
}
.hamster--info--title--sleep--emote {
  width: 7%;
  height: 100%;

  font-size: 1.7em;
}
.hamster--info--title--excitement--emote {
  width: 7%;
  height: 100%;
  font-size: 1.7em;
}
.hamster--info--title--like {
  line-height: 1.8em;
  text-align: left;
  width: 18%;
  height: 100%;
}
.hamster--info--title--hunger {
  line-height: 1.8em;
  text-align: left;
  width: 18%;
  height: 100%;
}
.hamster--info--title--sleep {
  line-height: 1.8em;
  text-align: left;
  width: 18%;
  height: 100%;
}
.hamster--info--title--excitement {
  line-height: 1.8em;
  text-align: left;
  width: 18%;
  height: 100%;
}
.hamster--info--title--like--bar {
  width: 50%;
  height: 0.3em;
  background: white;
  margin-top: 0.8em;
  border-radius: 1em;
}
.hamster--info--title--hunger--bar {
  width: 50%;
  height: 0.3em;
  background: white;
  margin-top: 0.8em;
  border-radius: 1em;
}
.hamster--info--title--sleep--bar {
  width: 50%;
  height: 0.3em;
  background: white;
  margin-top: 0.8em;
  border-radius: 1em;
}
.hamster--info--title--excitement--bar {
  width: 50%;
  height: 0.3em;
  background: white;
  margin-top: 0.8em;
  border-radius: 1em;
}
.hamster--info--title--like--bar--progress {
  height: 100%;
  background: rgb(49, 48, 48);
  border-radius: 1em;
}
.hamster--info--title--hunger--bar--progress {
  height: 100%;
  background: rgb(49, 48, 48);
  border-radius: 1em;
}
.hamster--info--title--sleep--bar--progress {
  height: 100%;
  background: rgb(49, 48, 48);
  border-radius: 1em;
}
.hamster--info--title--excitement--bar--progress {
  height: 100%;
  background: rgb(49, 48, 48);
  border-radius: 1em;
}

/*how to*/
.how--to {
  width: 50em;
  min-height: 10em;
  margin: 0.3em auto 0;
  display: flex;
  flex-flow: row wrap;
}
.how--to--title {
  text-align: left;
  font-size: 1.5em;
  height: 2em;
  color: white;
  cursor: pointer;
  background: unset;
  border: 1px solid transparent;
}
.how--to--play {
  width: 100%;
  color: white;
}
.how--to--play--hide {
  visibility: hidden;
}

.how--to--play ul {
  text-align: left;
  font-size: 2em;
}
.how--to--play ul li {
  margin-left: 1em;
  line-height: 1.5em;
}


/* colors */
.red{
  background-color: red;
}
.gold {
  background-color: rgb(209, 131, 29);
}
.green {
  background-color: green;
}